<html>

<head>

</head>

<body>

<header>
    <section class="textos-header">
    
        <h1 class="primera">
            <span>S</span>
            <span>u</span>
            <span>m</span> 
            <span>é</span>
            <span>r</span>
            <span>g</span>
            <span>e</span>
            <span>t</span>
            <span>e</span>
        </h1>
     
        <br>
        <h1 class="segunda">
            <span>E</span>
            <span>n</span>
            <span></span>
            <br>
            <br>
            <span>M</span>
            <span>i</span>
        </h1>
        
        <br>
        
        <h1 class="cuarta">
            <span>M</span>
            <span>u</span>
            <span>n</span>
            <span>d</span>
            <span>o</span>
        </h1>
        
    </section>

</header>
<main>
    <section class="contenedor Lo_Inesperado">
      <div class="Lo_Inesperado2">
        <h1>¿QUÉ DICEN LOS LECTORES?</h1>
      </div>

      <div class="contenedor">
        <div class="servicios-cont">
      <div class="servicio-individual">
        <img src="../../../../assets/imagenes/Seis.jpg">
        <h2>MARÍA Y RAMÓN</h2>
        <p>"Hacía tiempo que no leíamos un libro, pero nos ha encantado. Hasta el final estás haciéndote preguntas sobre qué pasará, y las respuestas que te va ofreciendo son totalmente inesperadas. Sin duda, muy bueno."</p>
      </div>
  
  
          <div class="servicio-individual">
            <img src="../../../../assets/imagenes/Uno.jpg">
            <h2>SERGIO Y PATRI</h2>
            <p>"Un libro que te mete de lleno en su historia y de la que no quieres salir. Nos ha encantado y antes de terminarlo de leer, ya estábamos pidiendo una segunda parte. Súper entretenido y fácil de leer."</p>
          </div>


          
            <div class="servicio-individual">
              <img src="../../../../assets/imagenes/Cuatro.jpg">
              <h2>PAQUITA Y MANOLO</h2>
              <p>"Lo Inesperado nos ha gustado mucho. Es entretenido, divertido, sorprendente. Hemos disfrutado mucho leyéndolo y releyéndolo."</p>
            </div>

            <div class="servicios-cont2">
            <div class="servicio-individual">
              <img src="../../../../assets/imagenes/Cinco.jpg">
              <h2>EVELYN Y KELLY</h2>
              <p>"Lo Inesperado, es un libro sencillo y fácil de leer. Describe el amor como un reto, partiendo de lo estereotipado para darle una vuelta de aire. Nunca puedes tener el control total de tus sentimientos, a veces hay que dejarse llevar y sorprender con lo que está por venir."</p>
            </div>
    
  
          <div class="servicio-individual">
            <img src="../../../../assets/imagenes/Dos.jpg">
            <h2>PAULA G.</h2>
            <p>"Lo Inesperado es un libro dinámico y que no para de sorprender. Te lleva a conocer esa parte salvaje de nosotros, que no podemos controlar y que nos saca de nuestros esquemas."</p>
          </div>
  
          <div class="servicio-individual">
            <img src="../../../../assets/imagenes/Tres.jpg">
            <h2>PAULA A.</h2> 
            <p>"Un libro genial. No podía parar de leer, lo terminé en una noche. Quiero más libros así. Ha sido una pasada."</p>
          </div>
        </div>
  
        
  
          
          
        </div>
      </div>
    </section>
  </main>

</body>

    </html>
    
    