<footer>
    <div class="contenedor-footer">
        <div class="contenido-footer">
            <h2>SÍGUEME EN </h2>
        <div class="contenido-footer-instagram">
        <a href="https://www.instagram.com/sandra95mr/?hl=es"><img src="./assets/imagenes/Instagram.jpg"></a>
        
        </div>
        <div class="contenido-footer-wattpad">
          <a href="https://www.wattpad.com/user/sandra_95_mr"> <img src="./assets/imagenes/Wattpad.png"> </a>
        </div>
        <br>
        </div>
        </div>
        <div class="titulo-final">
            <p> <strong> &copy; Sandra Marcos Recio</strong> </p>
         </div>
</footer>
