<body>
<nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
    
      </div>
      <ul class="nav navbar-nav">
        <li #boto1><a [routerLink]="['/products', 'All']"><strong>TODOS LOS LIBROS</strong></a></li>   <!--Paso la cadena la categoria por la ruta-->
        <li #boto2><a [routerLink]="['/products', 'Romantic-Comedy']"><strong>ROMANTIC-COMEDY</strong></a></li>
        <li #boto3><a [routerLink]="['/products', 'New-Adults']"> <strong>NEW-ADULTS</strong></a></li>
        <li #boto4><a [routerLink]="['/products', 'Chick-Lit']"><strong>CHICK-LIT</strong></a></li>
      </ul>
      
    </div>
  </nav>

        </body>