h4{

    text-align: center;
    margin-top: 20px;
   
}

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

img {

    margin-left: 50px;
    margin-top: 25px;
}

button{

    margin-left: 103px;
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(140, 61, 172);
    
    
}

.card img{

    transition: 0.3s ease-in-out;
}

.card img:hover{

    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
